@charset "UTF-8";

body {
    font: normal 1em Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: salmon;
}

a:visited {
    color: rgb(95, 10, 10);
}

a:hover {
    text-decoration:underline;
    color: gold;
}