@charset "UTF-8";

/* Formatação do Menu */
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    top: 0px;
    left: 30%;
}

nav#menu li {
    display: inline-block;
    background-color: rgb(240, 228, 219);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s; 
}


nav#menu li:hover {
    background-color: rgb(94, 233, 94);
}

nav#menu a {
    color: black;
    text-decoration: none;

}

nav#menu a:hover {
    color: white;  
}

/* Formatação do Corpo do site */

body {
    background-color: rgb(240, 228, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Formatação dos produtos */

div {
    display: inline-block;
    background-color: rgb(181, 241, 158);
    border: 1px solid black;
    text-align: center;
    height: 400px;
    width: 320px;
    padding: 5px;
    margin: 5px;
}

div:hover {
    background-color: rgb(128, 236, 20);
}